[submodule "app/GuaiGuitar-IOS"]
	path = app/GuaiGuitar-IOS
	url = git@github.com:YuhangGe/GuaiGuitar-IOS.git
[submodule "app/GuaiGuitar-WP"]
	path = app/GuaiGuitar-WP
	url = git@github.com:YuhangGe/GuaiGuitar-WP.git
[submodule "app/GuaiGuitar-Android"]
	path = app/GuaiGuitar-Android
	url = git@github.com:YuhangGe/GuaiGuitar-Android.git
